@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings:
      "liga" 1,
      "kern" 1;
  }
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: hsl(215.4 16.3% 46.9%);
  border-radius: 8px;
}
